<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/new.png" alt="">
  </div>
  <div class="headings">
    <h2>JWT Authentication System</h2>
    <h3>By Rejoice Edokpayi For Zuri</h3>
    <a href="/staffs" class="btn">All Staffs</a>
    <a href="/managers" class="btn">Our Managers</a>
    <a href="/admin" class="btn">Admins</a>
    <a href="/users" class="btn">View Users</a>
  </div>
</header>


<%- include('partials/footer'); -%>