<%- include('partials/header'); -%>

<nav>
    <h1><a href="/">User Authentication App</a></h1>
</nav>


<ul class="recipes">
  <li class="recipe">
    <img src="/new.png" alt="smoothie recipe icon">
    <h4>Rejoice Edo</h4>
    <p>Nigeria</p>
  </li>
  <li class="recipe">
    <img src="/new.png" alt="smoothie recipe icon">
    <h4>Favour Joseph</h4>
    <p>Canada</p>
  </li>
  <li class="recipe">
    <img src="/new.png" alt="smoothie recipe icon">
    <h4>Rhema Nwanze</h4>
    <p>United Kingdom</p>
  </li>
  <li class="recipe">
    <img src="/new.png" alt="smoothie recipe icon">
    <h4>Emmanuel OMJ</h4>
    <p>Russia</p>
  </li>
  <li class="recipe">
    <img src="/new.png" alt="smoothie recipe icon">
    <h4>Fulfilment Gaius</h4>
    <p>Canada</p>
  </li>
  <li class="recipe">
    <img src="/new.png" alt="smoothie recipe icon">
    <h4>Prosper Great</h4>
    <p>United States</p>
  </li>
</ul>

<%- include('partials/footer'); -%>